<a href="https://colab.research.google.com/github/souadkhailia/pandas-on-the-titanic-dataset/blob/main/pandas_on_the_titanic_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
url='https://drive.google.com/file/d/1zP14pOhU5dd1pNc6JnhF-XJOzuUmtGxI/view?usp=sharing'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]

In [ ]:
url

'https://drive.google.com/uc?id=1zP14pOhU5dd1pNc6JnhF-XJOzuUmtGxI'

In [ ]:
df = pd.read_csv(url)

1 - Display the head of the dataframe.

In [ ]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

 the percentage of people who survived?

In [ ]:
df['Survived'].mean().round(2)

0.38

How many of each sex survived?

In [ ]:
df[df['Survived']==1]['Sex'].value_counts()

female    233
male      109
Name: Sex, dtype: int64

Considering only the group of passengers who paid less than $10, what percentage of this group survived?

In [ ]:
df[df['Fare']<10]['Survived'].value_counts(normalize=True)

0    0.800595
1    0.199405
Name: Survived, dtype: float64

In [ ]:
#we are only interested in those who survived
df[df['Fare']<10]['Survived'].value_counts(normalize=True)[1]

0.19940476190476192

Overall, what is the average age of those who didn't survive?

In [ ]:
df[df['Survived']==0]['Age'].mean()

30.62617924528302

Overall, what is the average age of those who did survive?

In [ ]:
df[df['Survived']==1]['Age'].mean()

28.343689655172415

What is the average age of those who did and didn't survive grouped by Sex?

In [ ]:
#who did survive
df[df['Survived']==1].groupby("Sex")['Age'].mean()

Sex
female    28.847716
male      27.276022
Name: Age, dtype: float64

In [ ]:
#who did not survive
df[df['Survived']==0].groupby("Sex")['Age'].mean()

Sex
female    25.046875
male      31.618056
Name: Age, dtype: float64